---
import { Icon } from "astro-icon";
// Import all posts from the blog directory

import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
// Sort posts by date in descending order
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
// // Only include 10 most recent posts in the feed
const lastTenPosts = sortedPosts.slice(0, 10);
---

<!-- relative top-0 block h-full overflow-hidden transition-all duration-100
ease-in-out bg-white shadow-lg hover:-top-2 hover:shadow-xl rounded-xl -->
<ul>
  {
    lastTenPosts.map(post => (
      <a href={`/blog/${post.data.link}`}>
        <div class="grid grid-cols-2 relative top-0 block h-full overflow-hidden transition-all duration-100 ease-in-out bg-white hover:-top-2 hover:shadow-md rounded-xl mb-20">
          <img class="rounded-md w-3/4" src={post.data.image} />
          <div>
            <div class="text-xl">{post.data.title}</div>
            <div class="pb-4">
              {post.data.date} | {post.data.tags}
            </div>
            <div>{post.data.description}</div>
          </div>
        </div>
      </a>
    ))
  }
</ul>
