---
export interface Props {
  post: any;
}
const { post } = Astro.props;
---

<a
  href={`/blog/${post.link}`}
  class="relative top-0 block h-full overflow-hidden transition-all duration-100 ease-in-out bg-white shadow-lg hover:-top-2 hover:shadow-xl rounded-xl"
  data-test="article-card"
>
  <img src={post.image} alt="" width="360" height="192" />
  <div class="px-8 py-6">
    <h2 class="leading-tight">
      {post.title}
    </h2>
    <p class="flex items-center mt-4 text-xs text-gray-600">
      {post.date} | {post.tags}
    </p>
  </div>
</a>

<style>
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>
