---
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
// Import all posts from the blog directory
const allPosts = await getCollection("posts");
// Sort posts by date in descending order
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
// Only include 5 most recent posts in the feed
const lastFivePosts = sortedPosts.slice(0, 5);
---

<div class="mt-6 mb-8 text-2xl">Recent</div>
<div>
  {
    lastFivePosts.map(post => (
      <a href={`/blog/${post.data.link}`}>
        <div class="mt-8">
          {post.data.title}
          <div class="flex italic">
            <Icon
              class="mr-1"
              pack="uit"
              name="calender"
              width="20"
              height="20"
            />
            {post.data.date} | {post.data.tags}
          </div>
          <div>{post.data.description}</div>
        </div>
      </a>
    ))
  }
</div>
